body{
	/*background-color: #d4d4d4;*/
}

#topbar {

	background-color: #172791;
	width: 100%;
	height: 60px;
}


#titletext {
	font-size: 200%;
	color: #ffffff;
	position: relative;
	text-align: center;
	width: 80%;
	padding:10px;
	margin:auto auto auto auto;
}

.input-group {
	width: 60%;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

@media screen and (max-width: 650px) {
/* applies only if the screen is narrower than 650px */
	.input-group {
	width: 90%;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	}
}

